@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */

:root {
  --dark-theme-0: #272F34;
  --dark-theme-1: #2D353A;
  --dark-theme-2: rgba(255, 255, 255, 0.1);
  --dark-theme-3: #5B676E;
  --dark-theme-4: #AAB4BD;
  --dark-theme-5: #D2DADE;
  --dark-theme-6: #FFFFFF;
  --dark-background: #121212;

  --light-theme-0: #FFFFFF;
  --light-theme-1: #FAFAFA;
  --light-theme-2: #5B676E;
  --light-theme-3: #D2DADE;
  --light-theme-4: #AAB4BD;
  --light-theme-5: #5B676E;
  --light-theme-6: #272F34;


  --orange: #ff4f00;
  --indigo: #635dff;
  --white: #fff;
  --light-aluminium: #eaecee;
  --aluminium: #bdc4cf;
  --dark-aluminium: #2a2e35;
  --black: #000000;
  --yellow: #ebca40;
  --mandarine: #ff7f38;
  --pink: #ff44dd;
  --blue: #3885ff;
  --aqua: #3ec6eb;
  --emerald: #1bc99f;
  --moesif-black: #272f34;

  --overall-bg: var(--dark-background);
  --nav-bg: #121212;
  --focus-bg: var(--dark-theme-0);
  --button-outline: var(--dark-theme-5);
  --body-text-color: var(--dark-theme-5);
  --link-text-color: var(--dark-theme-5);
  --link-hover-color: var(--dark-theme-4);

  --yellow-mandarine-gradient: linear-gradient(
    153.07deg,
    var(--yellow) -2.47%,
    var(--mandarine) 102.78%
  );

  --mandarine-orange-gradient: linear-gradient(
    153.07deg,
    var(--mandarine) -2.47%,
    var(--orange) 102.78%
  );

  --pink-yellow-gradient: linear-gradient(
    153.07deg,
    var(--pink) -2.47%,
    var(--yellow) 102.78%
  );

  --pink-indigo-gradient: linear-gradient(
    153.07deg,
    var(--pink) -2.47%,
    var(--indigo) 102.78%
  );

  --indigo-aqua-gradient: linear-gradient(
    153.07deg,
    var(--indigo) -2.47%,
    var(--aqua) 102.78%
  );

  --blue-aqua-gradient: linear-gradient(
    153.07deg,
    var(--blue) -2.47%,
    var(--aqua) 102.78%
  );

  --aqua-emerald-gradient: linear-gradient(
    153.07deg,
    var(--aqua) -2.47%,
    var(--emerald) 102.78%
  );

  --emerald-yellow-gradient: linear-gradient(
    153.07deg,
    var(--emerald) -2.47%,
    var(--yellow) 102.78%
  );
  --font-primary: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}
