.idea/
node_modules/
dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
*.log
npm-debug*
.vscode/
.devcontainer
my-dev-portal/.env
my-dev-portal-api/.env
my-dev-portal-api/.env
my-dev-portal-authorizer/.env
.DS_Store
