.api-key-container {
  display: flex;
}

.api-key-presentation {
  background-color: black;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 4px 0 0 4px;
  padding: 8px;
  height: 32px;
}

.api-key {
  color: #fff;
  font-family: Menlo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.07px;
}

.copy-button {
  background-color: white;
  color: var(--orange);
  border: 1px var(--orange) solid;
  border-left: none;
  border-radius: 0 4px 4px 0;
}
