.plans--container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust as needed */
}

.plan--single {
  flex: 1 1 0; /* Adjust as needed */
  background-color: #2d2c2c;
  padding: 20px;
  border-width: 1px;
  border-radius: 10px;
}
